section.about
    a(href="#" id="about-anchor")
    .container
        .about__flex-container 
            .about__description-block 
                h2.about__caption this is bouncy
                p.about__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                button.about__button 
                    p.about__button-text read more
            .about__photo-container
                img.about__tablet-image(src="../images/ipad_image.png", alt="iPad photo")