section.blog
    a(href="#" id="blog-anchor")
    .blog__slider
        .blog__items-container
            .blog__slide.blog__first-slide
                h3.blog__slide-title latest news
                p.blog__slide-subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                .blog__item
                    h4.blog__caption the trending landing pages
                    p.blog__author by #[span.blog__author-colored kabir uddin]
                    p.blog__stats #[span.blog__likes-count 6950] likes - #[span.blog__comments-count 243] comments - #[span.blog__shares-count 703] shares
                    p.blog__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis prae- sentium voluptatum deleniti atque corrupti quos dolores et quas molestias ex- cepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio...  
                    a(class="blog__link" href="#" title="Read more")
                        p.blog__full-article-link + read more
            .blog__slide.blog__second-slide
                h3.blog__slide-title latest videos
                p.blog__slide-subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                .blog__video-item
                    <iframe class="blog__video" src="https://www.youtube.com/embed/_ALRv4IpCMQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>   
            .blog__slide.blog__third-slide
                .blog__item
                    h4.blog__caption the trending landing pages
                    p.blog__author by #[span.blog__author-colored kabir uddin]
                    p.blog__stats #[span.blog__likes-count 6950] likes - #[span.blog__comments-count 243] comments - #[span.blog__shares-count 703] shares
                    p.blog__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis prae- sentium voluptatum deleniti atque corrupti quos dolores et quas molestias ex- cepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio...  
                    a(class="blog__link" href="#" title="Read more")
                        p.blog__full-article-link + read more
                h3.blog__slide-title visit our blog
                p.blog__slide-subtitle At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        ul.blog__circle-list
            li.blog__circle
            li.blog__circle
            li.blog__circle