section.contact-section
    .container.contact-section__container
        form.contact-section__form
            .contact-section__container
                input.contact-section__name-input(type="text" name="name_input" placeholder="Your name" required)
                input.contact-section__email-input(type="email" name="email_input" placeholder="Email address" required)
                input.contact-section__subject-input(type="text" name="subject_input" placeholder="Subject" required)
            .contact-section__textarea-container
                textarea.contact-section__text(name="text_area")
            .contact-section__button-container
                button.contact-section__button(type="submit")
                    p.contact-section__button-text submit now