section.details
    .container
        //- First param: section caption
        //- Second param: section text
        //- Thitd param: class(set section margin), if you don't need this, use "" instead of the class name. 
        +section-header-block("details about bouncy",'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.',"details__section-title")
        -var icons_list_Classes = ["icons-list__item", "icons-list__item_hovered"]
        .details__list-container
            ul.icons-list
                li(class=icons_list_Classes)
                    .icons-list__container
                        +list-bg("like.svg")
                li(class=icons_list_Classes)
                    .icons-list__container
                        +list-bg("mouse.svg")
                li(class=icons_list_Classes)
                    .icons-list__container
                        +list-bg("light-bulb.svg")
        .details__description-container
            .details__left-col
                .details__description-title creative ideas
                .details__description-text At #[span.details__colored-text vero] eos et accusamus et iusto odio dignissimos #[strong.details__strong-text ducimus] qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores 
            .details__right-col
                .details__description-text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque #[strong.details__strong-text corrupti quos] dolores et quas molestias #[span.details__colored-text excepturi] sint occaecati cupiditate non provident, #[strong.details__strong-text similique] sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem r