footer.footer
    .container.footer__container
        .footer__text-container
            p.logo.footer__logo bouncy
            p.footer__copyright copyright 2015. all rights reserved
            ul.socials-list.footer__socials-list
                li.socials-list__item
                    a(class="socials-list__link" href="#")
                        .socials-list__fb
                li.socials-list__item
                    a(class="socials-list__link" href="#")
                        .socials-list__tw
                li.socials-list__item
                    a(class="socials-list__link" href="#")
                        .socials-list__ln
                li.socials-list__item
                    a(class="socials-list__link" href="#")
                        .socials-list__in
                li.socials-list__item
                    a(class="socials-list__link" href="#")
                        .socials-list__vm