section.offer
    .offer__bg-container
        .container
            .offer__container
                p.offer__text At vero eos et #[span.offer__colored accusamus] et iusto odio dignissimos ducimus qui blanditiis 
                button.default-button
                    p.default-button__text submit now