section.price
    .container
        //- First param: section caption
        //- Second param: section text
        //- Thitd param: class(set section margin), if you don't need this, use "" instead of the class name. 
        +section-header-block("our price",'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium',"price__section-title")
        .price__items-container
            .price__item
                .price__first-layer.price__first-layer_hovered
                    h2.price__title premium
                    .price__desciption-container 
                        .price__value-container
                            p.price__currency-symbol
                            p.price__currency-value 60
                        p.price__text per month
                .price__second-layer
                    .price__mobile-title-container
                        h2.price__mobile-title premium $60
                    ul.price__list
                        li.price__list-item full branding 
                        li.price__list-item project management
                        li.price__list-item unlimited revisions
                        li.price__list-item 24/7 h Service
                        li.price__list-item free domain
                        li.price__list-item free hosting
                    .price__offer-button
                        a(class="price__offer-link" href="#" title="More info!")
                            .price__offer-link-items-container
                                p.price__offer-text let's start
                                p.price__offer-icon
            .price__item
                .price__first-layer.price__first-layer_hovered
                    h2.price__title standard
                    .price__desciption-container 
                        .price__value-container
                            p.price__currency-symbol
                            p.price__currency-value 70
                        p.price__text per month
                .price__second-layer
                    .price__mobile-title-container
                        h2.price__mobile-title standart $70
                    ul.price__list
                        li.price__list-item full branding 
                        li.price__list-item project management
                        li.price__list-item unlimited revisions
                        li.price__list-item 24/7 h Service
                        li.price__list-item free domain
                        li.price__list-item free hosting
                    .price__offer-button
                        a(class="price__offer-link" href="#" title="More info!")
                            .price__offer-link-items-container
                                p.price__offer-text let's start
                                p.price__offer-icon
            .price__item
                .price__first-layer.price__first-layer_hovered
                    h2.price__title exclusive
                    .price__desciption-container 
                        .price__value-container
                            p.price__currency-symbol
                            p.price__currency-value 80
                        p.price__text per month
                .price__second-layer
                    .price__mobile-title-container
                        h2.price__mobile-title exclusive $80
                    ul.price__list
                        li.price__list-item full branding 
                        li.price__list-item project management
                        li.price__list-item unlimited revisions
                        li.price__list-item 24/7 h Service
                        li.price__list-item free domain
                        li.price__list-item free hosting
                    .price__offer-button
                        a(class="price__offer-link" href="#" title="More info!")
                            .price__offer-link-items-container
                                p.price__offer-text let's start
                                p.price__offer-icon