section.projects 
    .container
        //- First param: section caption
        //- Second param: section text
        //- Thitd param: class(set section margin), if you don't need this, use "" instead of the class name. 
        +section-header-block("featured projects",'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium',"project__section-title")
    .projects__image-slider
        .projects__item
            .projects__first-image.projects__first-image_hovered
                 p.projects__text title
        .projects__item
            .projects__second-image.projects__second-image_hovered
                p.projects__text vintage
        .projects__item 
            .projects__third-image.projects__third-image_hovered
                p.projects__text branding