section.subscribe
    .container
        //- First param: section caption
        //- Second param: section text
        //- Thitd param: class(set section margin), if you don't need this, use "" instead of the class name. 
        +section-header-block("subscribe us",'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium',"subscribe__section-title")
        form.subscribe__form(action="#" method="POST")
            .subscribe__form-items-container
                input.subscribe__email(type="email" placeholder="Email Address" required)
                button.subscribe__submit-button(type="submit")
                    p.subscribe__submit-button-text submit