section.team-cta
    .team-cta__bg-container
        h3.team-cta__caption already loved us? let’s talk!
        button.default-button.team-cta__default-button
            p.default-button__text contact us