section.team-quotes
    .container
        .team-quotes__flex-container 
            .team-quotes__description 
                .team-quotes__title impressed ?
                .team-quotes__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                .team-quotes__author - Abdullah Noman
                .team-quotes__position Creatice Director, #[span.team-quotes__colored-text Code Cafe]
            .team-quotes__monitor-image