section.team
    a(href="#" id="team-anchor")
    .container
        //- First param: section caption
        //- Second param: section text
        //- Thitd param: class(set section margin), if you don't need this, use "" instead of the class name. 
        +section-header-block("the team",'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium',"team__section-title")
        .team__slider 
            .team__slides-container
                .team__slide
                    figure.team__person-image.team__person-image_hovered
                        +set-team-image("team_1.png", "Abdullah Noman")
                        .team__socials-layer
                            .team__socials-container
                                ul.team__socials-list
                                    li.team__socials-list-item
                                        include ../../images/instagram-team.svg
                                    li.team__socials-list-item
                                    li.team__socials-list-item
                    .team__info-block
                        .team__title
                            h3.team__person-name abdullah noman
                            p.team__person-position creative director, code cafe
                        p.team__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        .team__bar-block
                            .team__progress-bar-text
                                p.team__progress-bar-caption branding
                                p.team__progress-bar-state-value 80 %    
                            .team__progress-bar
                                .team__inner-bar
                        .team__bar-block
                            .team__progress-bar-text
                                p.team__progress-bar-caption web design
                                p.team__progress-bar-state-value 65 %    
                            .team__progress-bar
                                .team__inner-bar.team__inner-bar-second
                        .team__bar-block
                            .team__progress-bar-text
                                p.team__progress-bar-caption user interface
                                p.team__progress-bar-state-value 75 %    
                            .team__progress-bar
                                .team__inner-bar.team__inner-bar-third
                .team__slide
                    figure.team__person-image.team__person-image_hovered
                        +set-team-image("team_1.png", "Nick Romero")
                        .team__socials-layer
                            .team__socials-container
                                ul.team__socials-list
                                    li.team__socials-list-item
                                        include ../../images/instagram-team.svg
                                    li.team__socials-list-item
                                    li.team__socials-list-item
                    .team__info-block
                        .team__title
                            h3.team__person-name nick romero
                            p.team__person-position creative director, code cafe
                        p.team__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        .team__bar-block
                            .team__progress-bar-text
                                p.team__progress-bar-caption branding
                                p.team__progress-bar-state-value 40 %    
                            .team__progress-bar
                                .team__inner-bar.team__bar40(data-branding="40")
                        .team__bar-block
                            .team__progress-bar-text
                                p.team__progress-bar-caption web design
                                p.team__progress-bar-state-value 68 %    
                            .team__progress-bar
                                .team__inner-bar.team__bar68(data-branding="68")
                        .team__bar-block
                            .team__progress-bar-text
                                p.team__progress-bar-caption user interface
                                p.team__progress-bar-state-value 55 %    
                            .team__progress-bar
                                .team__inner-bar.team__bar55(data-branding="55")
                .team__slide
                    figure.team__person-image.team__person-image_hovered
                        +set-team-image("team_1.png", "Abdullah Noman")
                        .team__socials-layer
                            .team__socials-container
                                ul.team__socials-list
                                    li.team__socials-list-item
                                        include ../../images/instagram-team.svg
                                    li.team__socials-list-item
                                    li.team__socials-list-item
                    .team__info-block
                        .team__title
                            h3.team__person-name John Bored
                            p.team__person-position creative director, code cafe
                        p.team__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        .team__bar-block
                            .team__progress-bar-text
                                p.team__progress-bar-caption branding
                                p.team__progress-bar-state-value 90 %    
                            .team__progress-bar
                                .team__inner-bar.team__bar90(data-branding="90")
                        .team__bar-block
                            .team__progress-bar-text
                                p.team__progress-bar-caption web design
                                p.team__progress-bar-state-value 51 %    
                            .team__progress-bar
                                .team__inner-bar.team__bar51(data-branding="51")
                        .team__bar-block
                            .team__progress-bar-text
                                p.team__progress-bar-caption user interface
                                p.team__progress-bar-state-value 20 %    
                            .team__progress-bar
                                .team__inner-bar.team__bar20(data-branding="20")
            ul.team__circle-list
                li.team__circle
                li.team__circle
                li.team__circle        


        