section.testimonials
    .container.testimonials__container
        //- First param: section caption
        //- Second param: section text
        //- Thitd param: class(set section margin), if you don't need this, use "" instead of the class name. 
        +section-header-block("testimonials",'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.',"testimonials__section-title")
        .testimonials__slider
            .testimonials__slide-container
                .testimonials__slide
                    .testimonials__image
                    .testimonials__description
                        p.testimonials__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium vo- luptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
                        p.testimonials__name partho
                        p.testimonials__position founder, artways bd
                .testimonials__slide
                    .testimonials__image
                    .testimonials__description
                        p.testimonials__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium vo- luptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
                        p.testimonials__name partho
                        p.testimonials__position founder, artways bd
                .testimonials__slide
                    .testimonials__image
                    .testimonials__description
                        p.testimonials__text At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium vo- luptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
                        p.testimonials__name partho
                        p.testimonials__position founder, artways bd
            ul.testimonials__circle-list
                li.testimonials__circle
                li.testimonials__circle
                li.testimonials__circle
                