@media (max-width: 1190px) { 
    
    $firstAdWwidth: 1050px;

    .container { 
        width: $firstAdWwidth;
    }

    .details__right-col { 
        width: 55%;
    }

    .progress__item {
        &:last-child {
            margin: 30px 0 0;
        }
    }

    .portfolio__fouth-col { 
        & .portfolio__item { 
            &:first-child {
                float: left;
                margin-top: 10px;
                margin-left: -10px;
            }
            &:nth-child(2) { 
                float: left;
                margin: 10px 10px 0;
            }
            &:last-child { 
                margin-top: 10px;
            }
            &:after { 
                clear: both;
            }
        } 
    }

    .team__circle-list { 
        right: 45%;
    }

    .portfolio__flex-container { 
        justify-content: center;
    }
    
    .blog__items-container { 
        width:  $firstAdWwidth * 3;
    }


    .team__slide { 
        max-width:  $firstAdWwidth;
        width: $firstAdWwidth;
        min-width:  $firstAdWwidth;
    }
    .team__slides-container { 
        width:  $firstAdWwidth * 3;
    }

    .blog__slider { 
        width: $firstAdWwidth;
    }

    .blog__slide { 
        width: $firstAdWwidth;
    }

    .contact-section__container { 
        width: 940px;
    }
    .testimonials__description {
        width: 65%;
     }

     .testimonials__slide { 
         padding-left: 80px;
     }

     .section-title-container { 
         width: 60%;
     }
     .contacts__item { 
         width: 250px;
     }
}

@media (max-width: 1090px)  { 

    $secondAdWwidth: 900px;

    .container { 
        width: $secondAdWwidth;
    }

    .portfolio__fouth-col { 
        & .portfolio__item { 
            &:first-child {
                margin: 0 10px 0 -20px;
            }
            &:nth-child(2) { 
                margin: 0 10px 0 0;
            }
            &:last-child { 
                margin-top: 0;
            }
            &:after { 
                clear: both;
            }
        } 
    }

    .blog__slide-subtitle { 
        margin: 0 0 40px;
    }

    .blog__full-article-link { 
        padding: 0 0 60px;
    }

    .service__progress { 
        padding: 0;
    }

    .services__description {
        margin: 0 25px 0 0;
    }

    .portfolio__fouth-col { 
        margin-top: 10px;
        & .portfolio__item { 
            &:first-child {
                float: left;
                margin: 0 10px 0 -10px;
            }
            float: left;

            &:nth-of-type(2) { 
                margin-right: 10px;
            }

            &:after { 
                clear: both;
            }
        } 
    }

    .team__slides-container { 
        width: $secondAdWwidth * 3;
    }

    .team__slide {
        min-width: $secondAdWwidth;
        max-width: $secondAdWwidth;
    }

    .testimonials__slide {
        width: 850px;
        padding-left: 5px;
    }

    .testimonials__slide-container { 
        width: $secondAdWwidth * 3;
    }

    .testimonials__description { 
        width: 55%;
    }

    .blog__slider { 
        width: $secondAdWwidth;
    }

    .blog__items-container { 
        width: $secondAdWwidth * 3;
    }

    .blog__slide { 
        width: $secondAdWwidth;
    }

    .contact-section__container { 
        width: $secondAdWwidth;
    }
} 

@media (max-width: 960px) { 

    $thirdAdWidth: 700px;

    .container { 
        width: $thirdAdWidth;
    }
    
    .details__description-container { 
        padding: 0 0 65px;
    }

    .slider__flex-container { 
        padding: 230px 0  180px;
    }
    
    .portfolio__third-col { 
        margin-left: -10px;
    }

    .about__description-block { 
        margin: 90px 165px 90px 0;
    }

    .section-title-container { 
        width: 70%;
    }
    
    .details__list-container { 
        margin: 0 0 40px;
    }

    .offer__container { 
        flex-direction: column;
    }
    
    .offer__bg-container { 
        & .container { 
            padding: 0 0 35px 0;
        }
    }

    .offer__text { 
        padding: 35px 0 25px;
    }

    .service__list { 
        padding: 0 43px 35px 70px;
    }

    .service__progress { 
        padding: 0;
    }

    .service__content { 
        flex-wrap: wrap;
    }

    .service__progress { 
        margin: -45px auto 0;
        padding: 0 0 70px;
    }
    .team-quotes__monitor-image {
        display: none;
    }
    
    .team-quotes__flex-container {
        justify-content: center;
    }

    .team-quotes__description {
        width: auto;
        padding: 0 0 45px;
    }
    
    .portfolio__third-col { 
        margin-top: 10px;
    }

    .portfolio__fouth-col { 
        & .portfolio__item {
            &:first-child {
                margin: 0;
            }
            margin: 10px 0 0 0;
            clear: both;
            margin-bottom: 10px;
            &:nth-of-type(2) { 
                margin: 10px 0 0;
            }
            &:last-child { 
                margin: 10px 0 0;
            }
        }
    }

    .team__slide { 
        max-width: $thirdAdWidth;
        min-width: $thirdAdWidth;
    }
    
    .testimonials__slide { 
        width: $thirdAdWidth;
        justify-content: start;
        padding-left: 15px;
    }

    .testimonials__slide-container { 
        width: $thirdAdWidth * 3;
    }

    .testimonials__description { 
        width: 50%;
    }

    .testimonials__image { 
        margin-right: 30px;
    }

    .blog__slider { 
        width: $thirdAdWidth;
    }

    .price__list { 
        padding: 10px 0 10px 40px;
    }

    .price__first-layer  { 
        display: none;
    }

    .portfolio__default-button { 
        padding: 0;
        margin:  0 0 25px;
    }

    .price__mobile-title-container { 
        display: block;
    }

    .portfolio__item { 
        &:hover .portfolio__description-block_hovered { 
            display: none;
            box-shadow: none;
        }

        &:hover::before { 
            content: "";
            display: none;
        }
    }

    .blog__items-container { 
        width: $thirdAdWidth * 3;
    }

    .blog__slide  { 
        width: $thirdAdWidth;
    }

    .blog__slide-subtitle { 
        margin: 0 0 25px;
    }

    .blog__stats { 
        margin: 0 0 25px;
    }

    .blog__full-article-link { 
        padding: 0 0 50px;
    }

    .contacts__items-container { 
        flex-wrap: wrap;
    }

    .contacts__item { 
        &:nth-child(2) { 
            margin: 0 0 40px 40px;
        }
    }

    .contact-section__form { 
        width: $thirdAdWidth;
        margin: 78px 0;
    }

    .contact-section__container { 
        flex-direction: column;
        max-width: $thirdAdWidth;
        padding: 0;
    }

    .contact-section__name-input { 
        min-width: $thirdAdWidth;
    }
    .contact-section__email-input { 
        min-width: $thirdAdWidth;
        margin: 20px 0;
    }
    .contact-section__subject-input { 
        min-width: $thirdAdWidth;
        margin: 0 0 20px 0;
    }
    .footer__container { 
        padding: 50px 0;
    }

    .slider__section-flex-container { 
        width: 80%;
    }

    .main__menu { 
        display: none;
    }
    
    .header__burger-container { 
        display: block;
    }

    .header { 
        height: 60px;
    }

    .contact-section__text { 
        min-height: 120px;
    }

    .map__text-container { 
        padding: 180px 0;
    }

    .blog__circle-list {
        top: 45%;
    }

    .projects { 
        display: none;
    }

    .testimonials__circle-list { 
        right: 45%;
    }
}

@media (max-width: 760px) { 

    $fouthAdWidth: 520px;

    html { 
        font-size: 8px;
    }

    .testimonials__description { 
        width: 35%;
    }

    .price__list { 
        padding: 10px 0 10px 40px;
    }

    .price__first-layer  { 
        display: none;
    }

    .price__mobile-title-container { 
        display: block;
    }

    .container { 
        width: $fouthAdWidth;
    }

    .slider__flex-container {
        padding: 110px 0 110px;
    }
    .slider__section-flex-container { 
        width: 100%;
    }
    .about__description-block { 
        margin: 60px 50px 60px 0;
    }
    .section-title-container { 
        width: 100%;
    }

    .details__section-title { 
        padding: 40px 0;
    }

    .details__left-col { 
        max-width: 40%;
    }
    .details__right-col {
        width: 50%;
    }

    .service__list { 
        padding: 0 30px 35px 0;
    }

    .portfolio__list-item  { 
        margin: 0 15px 0 0;
    }

    .portfolio__image {
        width: 200px;
        height: auto;
    }

    .portfolio__description-block {
        padding: 20px 20px 0;
    }

    .portfolio__text { 
        margin: 15px 0 0;
    }

    .portfolio__actions-block { 
        padding-top: 30px;
    }

    .portfolio__item-medium-resize { 
        & .portfolio__description-block  { 
            padding: 15px;
        }
        & .portfolio__actions-block { 
            padding: 6px 0 0;
        }
    }

    .portfolio__item-small-resize { 
        & .portfolio__description-block { 
            padding: 10px 10px;
        }
        & .portfolio__text { 
            margin: 5px 0 0;
        }
        & .portfolio__actions-block { 
            padding-top: 3px;
        }
    }
    
    .team__person-image { 
        width: auto;
        height: auto;
        margin: 10px 20px 65px;
    }

    .team__image { 
        width: 200px;
        height: auto;
    }

    .team__slides-container { 
        width: $fouthAdWidth * 3;
    }

    .team__slide { 
        max-width: $fouthAdWidth;
        min-width: $fouthAdWidth;
    }

    .team__text { 
        margin: 0 0 10px;
    }

    .price__currency-symbol { 
        height: 28px;
        background-repeat: no-repeat;
    }

    .team__person-position { 
        margin: 0 0 18px;
    }

    .testimonials__slide-container { 
        width: $fouthAdWidth * 3;
    }

    .testimonials__image {
        min-width: 100px !important;
        height: 100px !important;
    }




    .blog__slider { 
        width: $fouthAdWidth;
    }

    .blog__items-container { 
        width: $fouthAdWidth * 3;
    }

    .blog__slide  { 
        width: $fouthAdWidth;
    }

    .price__items-container { 
        flex-wrap: wrap;
    }
    .price__item {
        &:nth-child(2) { 
            margin: 0 20px;
        }
        &:last-child {
            margin: 20px 0 0;
        }
    }

    .contacts__items-container {
        padding: 0 0 50px;
    }

    .service__progress { 
        margin: -150px auto 0;
    }

    .subscribe__form { 
        padding:  0 0 50px;
    }
    
    .contacts__item { 
        &:nth-child(2) {
            margin: 20px 0;
        }
    }

    .price__items-container { 
        padding: 0 0 50px;
    }
    
    .contact-section__form { 
        width: $fouthAdWidth;
        margin: 40px 0;
    }

    .contact-section__container { 
        width: $fouthAdWidth;
    }

    .contact-section__name-input { 
        min-width: $fouthAdWidth;
    }

    .map__text-container { 
        padding: 140px 0;
    }

    .footer__container { 
        padding: 30px 0;
    }

    .portfolio__project-caption { 
        padding: 23px 10px 0;   
        margin: 0 0 20px;
    }

    .portfolio__project-block { 
        margin: 40px 0;
    }

    .portfolio__default-button { 
        padding: 0 0 23px;
    }

    .project__section-title { 
        padding: 40px 0;
    }
    .section-title__caption { 
        margin: 0 0 25px;
    }
    
    .services__section-title { 
        padding: 40px 0;
    }

    .portfolio__section-title { 
        padding: 40px 0;
    }

    .team__section-title { 
        padding: 40px 0;
    }

    .testimonials__section-title { 
        padding: 40px 0;
    }

    .price__section-title { 
        padding: 40px 0;
    }

    .contacts__section-title{ 
        padding: 40px 0;
    }

    .subscribe__form-items-container { 
        flex-direction: column;
    }
    .subscribe__email { 
        margin: 0 0 10px 0;
        min-height: 34px;
    }

}

@media (max-width: 570px) { 

    $fifthAdWidth: 310px;

    .container { 
        width: $fifthAdWidth;
    }

    .header__burger-container { 
        width: 30px;
        padding: 0;
    }

    .header { 
        height: 50px;
    }

    .slider__flex-container { 
        padding: 80px 0;
    }

    .slider__button-container { 
        padding: 0 0 30px;
    }

    .slider__title { 
        margin: 0 0 15px;
    }

    .about__caption { 
        margin: 0 0 25px;
    }

    .about__photo-container { 
        margin: auto 0;
    }

    .about__description-block { 
        padding: 50px 50px 50px 0;
        margin: 0;
    }


    .projects { 
        display: none;
    }

    .offer__text { 
        padding: 20px 0;
    }

    .service__list { 
        flex-direction: row;
        justify-content: space-between;
        min-width: 100%;
        padding: 0;
    }

    .progress__item { 
        margin: 0;
    }

    .service__progress { 
        margin: 10px auto 0;
    }

    .portfolio__list { 
        padding: 0 0 19px;
    }

    .team__slides-container { 
        width: $fifthAdWidth * 3;
    }
    
    .team__slide { 
        max-width: $fifthAdWidth;
        min-width: $fifthAdWidth;
        flex-direction: column;
    }
    .team__circle-list { 
        right: 40%;
    }

    .team__person-image { 
        margin: 10px auto 20px;
    }

    .team__info-block {
        flex: 0 1 350px;
    }

    .team-cta__caption { 
        margin: 0 0 23px;
    }
    .portfolio__default-button { 
        padding: 0;
    }

    .team-quotes__title { 
        margin: 40px 0 30px;
    }

    .team-cta__default-button {
        margin: 0 0 23px;
    }

    .testimonials__circle-list { 
        right: 40%;
    }
    
    .testimonials__slide-container { 
        width: $fifthAdWidth * 3;
    }

    .testimonials__description { 
        width: 95%;
    }

    .testimonials__slide { 
        max-width: $fifthAdWidth;
        flex-direction: column;
        justify-content: center;
        max-width: $fifthAdWidth;
        width: $fifthAdWidth;
        min-width: $fifthAdWidth;
        padding: 10px 10px 20px;
    }

    .testimonials__image { 
        max-width: 100px !important;
        align-self: center;
        margin: 0 0 10px;
    }

    .blog__slide-subtitle { 
        width: 100%;
    }

    .blog__circle-list { 
        right: 0;
    }

    .blog__video { 
        width: 90%;
    }

    .price__item { 
        &:nth-child(2) { 
            margin: 20px 0;
        }
    }

    .blog__item { 
        padding: 0 0 0 20px;
        width: 80%;
    }

    .blog__slider { 
        width: $fifthAdWidth;
    }

    .blog__items-container { 
        width: $fifthAdWidth * 3;
    }

    .blog__slide  { 
        width: $fifthAdWidth;
    }

    .subscribe__form { 
        width: $fifthAdWidth;
    }

    .subscribe__email { 
        min-width: $fifthAdWidth;
        box-sizing: border-box;
        min-height: 34px;
        margin: 0 0 10px;
    }

    .subscribe__section-title { 
        padding: 40px 0;
    }

    .contact-section__container { 
        width: $fifthAdWidth;
    }
    
    .contact-section__name-input { 
        min-width: $fifthAdWidth;
    }

    .contact-section__form { 
        width: $fifthAdWidth;
    }

    .subscribe__form-items-container { 
        flex-direction: column;
    }

    .portfolio__first-col { 
        margin: 0;
    }
    
    .portfolio__third-col { 
        margin: 10px 0 0;
    }
    .portfolio__second-col { 
        margin: 10px 0 0;
    }
    .team__text { 
        padding: 0 30px 0 0;
    }

    .team__bar-block { 
        padding: 0 30px 0 0 ;
    }
    
    
}



