.section-title-container { 
    display: flex;
    flex-direction: column;
    width: 45%;
}

.details { 
    background-color: $section-bg;
}

.section-title { 
    display: flex;
    justify-content: center;
}

.section-title__caption {
    //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform)
    @include text-style(2rem, 0, 0 0 35px, $caption-color, "SourceSansPro Light", 0.42rem, $style-none, uppercase);
    font-weight: normal;
}

.section-title__text { 
    //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform)
    @include text-style(1.4rem, 0, 0, $main-text-color, "Open Sans", 0.22rem, $style-none, $style-none);
    letter-spacing: 0.22rem;
}

.details__section-title{ 
    padding: 75px 0 60px;
}

.icons-list { 
    padding: 0;
    margin: 0;
}

.icons-list__item { 
    display: inline-block;
    list-style-type: none;
    width: 53px;
    height: 53px;
    margin: 0 25px 0 0;
    background-color: $list-item-default-color;
    border-radius: 50%;
    &:last-child {
        margin: 0;
    }
}

.icons-list__item_hovered:hover {
    background-color: $list-item-hovered-color;
 }
.icons-list__container { 
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.icons-list__image { 
    display: block;
    width: 25px;
}

.details__list-container { 
    display: flex;
    justify-content: center;
    margin: 0 0 60px;
}

.details__description-container { 
    display: flex;
    justify-content: space-between; 
    padding: 0 120px 100px 70px;
}

.details__left-col { 
    max-width: 30%;
}

.details__right-col { 
    width: 56%;
    padding: 55px 0 0;
}

.details__description-title {
    //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform)
    @include text-style(2rem, 0, 0 0 30px, $subtitle-color, "Open Sans", $style-none, $style-none, capitalize);
    text-align: left;
}

.details__description-text {
    //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform)
    @include text-style(1.6rem, 0, 0, $main-text-color, "Open Sans", $style-none, 2.6rem, $style-none);
    text-align: left;
    // line-height = fontsize + (leading / 2)
    
}
.details__colored-text { 
    color: $selection-color;
    font-family: "Open Sans Bold", $font-stack;
}

.details__strong-text { 
    color: $strong-text-color;
    font-family: "Open Sans Bold", $font-stack;
}