@font-face { 
    font-family: "Open Sans";
    font-weight: normal; // 400
    font-style: normal;
    src: url("../fonts/OpenSans/OpenSans-Regular.eot"), /* IE9 Compat Modes */
         url("../fonts/OpenSans/OpenSans-Regular.eot#?iefix") format("embedded-opentype"), /*IE6-IE8*/
         url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
         url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
         url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face { 
    font-family: "Open Sans Bold";
    font-weight: 700; // bold
    font-style: normal;
    src: url("../fonts/OpenSans/OpenSans-Bold-webfont.eot"), /* IE9 Compat Modes */
         url("../fonts/OpenSans/OpenSans-Bold-webfont.eot#?iefix") format("embedded-opentype"), /*IE6-IE8*/
         url("../fonts/OpenSans/OpenSans-Bold-webfont.woff2") format("woff2"),
         url("../fonts/OpenSans/OpenSans-Bold-webfont.woff") format("woff"),
         url("../fonts/OpenSans/OpenSans-Bold-webfont.ttf") format("truetype");
}

@font-face { 
    font-family: "BigJohn";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/BigJohn/bigjohn-webfont.eot") format("embedded-opentype"), /*IE9 Compat Modes*/
         url("../fonts/BigJohn/bigjohn-webfont.eot?#iefix") format("embedded-opentype"), /*IE6-IE8*/
         url("../fonts/BigJohn/bigjohn-webfont.woff2") format("woff2"),
         url("../fonts/BigJohn/bigjohn-webfont.woff") format("woff"),
         url("../fonts/BigJohn/bigjohn-webfont.ttf") format("truetype");
}

@font-face { 
    font-family: "SourceSansPro Light";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/SourceSansPro/sourcesanspro-light-webfont.eot") format("embedded-opentype"), /*IE9 Compat Modes*/
         url("../fonts/SourceSansPro/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), /*IE6-IE8*/
         url("../fonts/SourceSansPro/sourcesanspro-light-webfont.woff2") format("woff2"),
         url("../fonts/SourceSansPro/sourcesanspro-light-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro/sourcesanspro-light-webfont.ttf") format("truetype");
}

@font-face { 
    font-family: "SourceSansPro Black";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/SourceSansPro/sourcesanspro-black-webfont.eot") format("embedded-opentype"), /*IE9 Compat Modes*/
         url("../fonts/SourceSansPro/sourcesanspro-black-webfont.eot?#iefix") format("embedded-opentype"), /*IE6-IE8*/
         url("../fonts/SourceSansPro/sourcesanspro-black-webfont.woff2") format("woff2"),
         url("../fonts/SourceSansPro/sourcesanspro-black-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro/sourcesanspro-black-webfont.ttf") format("truetype");
}

@font-face { 
    font-family: "SourceSansPro Light Italic";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/SourceSansPro/sourcesanspro-lightitalic-webfont.eot") format("embedded-opentype"), /*IE9 Compat Modes*/
         url("../fonts/SourceSansPro/sourcesanspro-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), /*IE6-IE8*/
         url("../fonts/SourceSansPro/sourcesanspro-lightitalic-webfont.woff2") format("woff2"),
         url("../fonts/SourceSansPro/sourcesanspro-lightitalic-webfont.woff") format("woff"),
         url("../fonts/SourceSansPro/sourcesanspro-lightitalic-webfont.ttf") format("truetype");
}

@font-face { 
    font-family: "Roboto Light";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Roboto/roboto-light-webfont.eot") format("embedded-opentype"), /*IE9 Compat Modes*/
         url("../fonts/Roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), /*IE6-IE8*/
         url("../fonts/Roboto/roboto-light-webfont.woff2") format("woff2"),
         url("../fonts/Roboto/roboto-light-webfont.woff") format("woff"),
         url("../fonts/Roboto/roboto-light-webfont.ttf") format("truetype");
}