.footer {
    background-color: $section-bg;
}
.footer__container { 
    display: flex;
    justify-content: center;
    padding: 80px 0 90px;
}
.socials-list {
    margin: 0;
    padding: 0;
}
.footer__socials-list { 
    padding: 25px 0 0 0;
    text-align: center;
}

.footer__logo { 
    color: $footer-logo-color;
    text-align: center;
}
.footer__copyright {
    //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform)
    @include text-style(1.4rem, 10px 0 0, 0, $main-text-color, "Open Sans", $style-none, $style-none, capitalize);
}

.socials-list__item { 
    display: inline-block;
    list-style-type: none;
    width: 26px;
    height: 26px;
    margin: 0 10px 0 0;
    &:last-child { 
        margin: 0;
    }
}
.socials-list__fb { 
    background: url("../images/facebook.svg") no-repeat center center;
    background-size: cover;
    height: 100%;
}

.socials-list__link { 
    text-decoration: none;
}

.socials-list__tw { 
    @extend .socials-list__fb;
    background: url("../images/twitter.svg") no-repeat center center;
}

.socials-list__ln {
    @extend .socials-list__fb;
    background: url("../images/linkedin.svg") no-repeat center center;
}

.socials-list__in {
    @extend .socials-list__fb;
    background: url("../images/instagram.svg") no-repeat center center;
}

.socials-list__vm {
    @extend .socials-list__fb;
    background: url("../images/vimeo.svg") no-repeat center center;
}
