.header {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    transition: 1s all;
    z-index: 1000;
}

.header__burger-container {
    width: 35px;
    padding-top: 3px;
    display: none;
    cursor: pointer;
}

.header__mobile-menu { 
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    padding: 0;
    margin: 0;
    & .menu__item { 
        display: block;
        border-radius: 100%;
        padding: 10px 0;
    }
}

.header__mobile-menu-block { 
    left: -2220px;
    position: absolute;
    transition: 1s all;
    width: 250px;
    top:0;
    height: auto;
}

.menu__mobile-link { 
    display: inline-block;
    width: 100%;
}

.header__mobile-menu-visible {
    margin-left: 0;
    left: 0;
}

.header__burger { 
    fill: $default-color;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0; 
}

.menu { 
    padding: 0;
}

.main__menu { 
    padding: 0;
    margin: 0;
}

.header_scrolled { 
    transition: 1s all;
    background-color: rgba(0, 0, 0, 0.8);
}

.menu__link { 
    text-decoration: none;
    outline: none;
    &:link {
        color: $default-color;
    }
    &:visited { 
        color: $default-color;
    }
}

.menu__item { 
    //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform)
    @include text-style(1.6rem, 8px 20px, 0, $default-color, "Open Sans", $style-none, $style-none, $style-none);
    list-style-type: none;
    display: inline-block;
    border: 1px solid transparent;
}
.menu__item_hovered:hover { 
    border: 1px solid $default-color;
    border-radius: 35px;
}

.logo {
    @include text-style(2.5rem, 0, 0, $default-color, "BigJohn", $style-none, $style-none, uppercase);
    align-self: center;
}