@mixin set-bg($fileName) { 
    background-image: url("../images/" + $fileName);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    filter: grayscale(1);
    box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.8) inset;
    display: flex;
    justify-content: center;
}

@mixin set-contact-image($imgName) { 
    background-image: url("../images/" + $imgName);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

@mixin reset-bg(){
    filter: none;
    transition: box-shadow 2s ease;
    box-shadow: none;
}

//mixin for all text blocks
@mixin text-style($fontsize, $text-padding, $text-margin, $text-color, $text-family, $text-letter-spacing, $text-line-height, $text-transform) { 
    font-size: $fontsize;
    padding: $text-padding;
    margin: $text-margin;
    color: $text-color;
    font-family: $text-family, $font-stack;
    text-align: center;
    @if($text-letter-spacing != $style-none) { 
        letter-spacing: $text-letter-spacing;
    }
    @if($text-line-height != $style-none) { 
        line-height: $text-line-height;
    }
    @if($text-transform != $style-none) { 
        text-transform: $text-transform;
    }
}