.project__section-title { 
    padding: 80px 0 60px;
}

.projects__image-slider { 
    display: flex;
    justify-content: stretch;
    height: 320px;
}


.projects__first-image { 
    @include set-bg("pr_slider_first.png");
    // flex: 2 1 $default-image-item-size;
}

.projects__second-image { 
    @include set-bg("pr_slider_second.png");
    // flex: 2 1 $default-image-item-size;
}

.projects__third-image { 
    @include set-bg("pr_slider_third.png");
    // flex: 2 1 $default-image-item-size;
}

.projects__item { 
    width: $default-image-item-size;
    height: 100%;
    transition: width 2s ease-out;
    &:hover { 
        width: 2.5 * $default-image-item-size;
    }
    &:hover .projects__text{
        display: none;
    }
    
    &:hover .projects__first-image_hovered { 
        @include reset-bg();
    }
    &:hover .projects__second-image_hovered { 
        @include reset-bg();
    }
    &:hover .projects__third-image_hovered { 
        @include reset-bg();
    }
}
.projects__text {
    //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform) 
    @include text-style(2rem, 0, 0, $default-color, "SourceSansPro Light", 0.2rem, $style-none, uppercase);
    align-self: center;
}
