.team-quotes { 
    background-image: url("../images/quotes__bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 0 9000px rgba(0, 0, 0, 0.85) inset; 
}
.team-quotes__description  { 
    width: 50%;
}

.team-quotes__title { 
    //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform)
    @include text-style(2rem, 0 , 70px 0 50px, $section-bg, "SourceSansPro Light", 0.22rem, $style-none, uppercase);
    text-align: left;
}


.team-quotes__text {
   //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform) 
    @include text-style(1.6rem, 0 , 0 0 25px, $team-quotes, "Open Sans", $style-none, 3rem, $style-none);
    text-align: left;
}

.team-quotes__author {
    //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform)
    @include text-style(1.4rem, 0 , 0 0 5px, $team-quotes, "Open Sans Bold", $style-none, $style-none, uppercase);
    text-align: left;
}

.team-quotes__position {
    //text-style($fontsize, $text-padding, $text-margin, 
    //$text-color, $text-family, $text-letter-spacing, 
    //$text-line-height, $text-transform) 
    @include text-style(1.4rem, 0 , 0 0 5px, $team-quotes, "Open Sans", $style-none, $style-none, uppercase);
    text-align: left;
}
.team-quotes__colored-text { 
    color: $selection-color;
}

.team-quotes__flex-container  { 
    display: flex;
    justify-content: space-between;
}
.team-quotes__monitor-image { 
    background-image: url("../images/monitor.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 419px;
    min-height: 414px;
    margin: -35px 0 0;
}