include mixins.pug 

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../styles/main.css")
        title Bouncy - main page
    body
        include includes/header.pug
        include includes/top-slider.pug
        include includes/about.pug
        include includes/details.pug
        include includes/projects.pug
        include includes/offer.pug
        include includes/services.pug
        include includes/team-quotes.pug
        include includes/portfolio.pug
        include includes/team.pug
        include includes/teamCTA.pug
        include includes/testimonials.pug
        include includes/blog.pug
        include includes/price.pug
        include includes/subscribe.pug
        include includes/contacts.pug
        include includes/contact-section.pug
        include includes/map.pug
        include includes/footer.pug
        script(src="../js/index.js")
        
                    


                                



