@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot"), url("../fonts/OpenSans/OpenSans-Regular.eot#?iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold-webfont.eot"), url("../fonts/OpenSans/OpenSans-Bold-webfont.eot#?iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold-webfont.woff2") format("woff2"), url("../fonts/OpenSans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "BigJohn";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BigJohn/bigjohn-webfont.eot") format("embedded-opentype"), url("../fonts/BigJohn/bigjohn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BigJohn/bigjohn-webfont.woff2") format("woff2"), url("../fonts/BigJohn/bigjohn-webfont.woff") format("woff"), url("../fonts/BigJohn/bigjohn-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/SourceSansPro/sourcesanspro-light-webfont.eot") format("embedded-opentype"), url("../fonts/SourceSansPro/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/SourceSansPro/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/SourceSansPro/sourcesanspro-light-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro Black";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/SourceSansPro/sourcesanspro-black-webfont.eot") format("embedded-opentype"), url("../fonts/SourceSansPro/sourcesanspro-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/sourcesanspro-black-webfont.woff2") format("woff2"), url("../fonts/SourceSansPro/sourcesanspro-black-webfont.woff") format("woff"), url("../fonts/SourceSansPro/sourcesanspro-black-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "SourceSansPro Light Italic";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/SourceSansPro/sourcesanspro-lightitalic-webfont.eot") format("embedded-opentype"), url("../fonts/SourceSansPro/sourcesanspro-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro/sourcesanspro-lightitalic-webfont.woff2") format("woff2"), url("../fonts/SourceSansPro/sourcesanspro-lightitalic-webfont.woff") format("woff"), url("../fonts/SourceSansPro/sourcesanspro-lightitalic-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto/roboto-light-webfont.eot") format("embedded-opentype"), url("../fonts/Roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-light-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-light-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-light-webfont.ttf") format("truetype"); }

html {
  font-size: 10px; }

body {
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  width: 1170px; }

.header {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s all;
  z-index: 1000; }

.header__burger-container {
  width: 35px;
  padding-top: 3px;
  display: none;
  cursor: pointer; }

.header__mobile-menu {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  padding: 0;
  margin: 0; }
  .header__mobile-menu .menu__item {
    display: block;
    border-radius: 100%;
    padding: 10px 0; }

.header__mobile-menu-block {
  left: -2220px;
  position: absolute;
  transition: 1s all;
  width: 250px;
  top: 0;
  height: auto; }

.menu__mobile-link {
  display: inline-block;
  width: 100%; }

.header__mobile-menu-visible {
  margin-left: 0;
  left: 0; }

.header__burger {
  fill: #fff; }

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0; }

.menu {
  padding: 0; }

.main__menu {
  padding: 0;
  margin: 0; }

.header_scrolled {
  transition: 1s all;
  background-color: rgba(0, 0, 0, 0.8); }

.menu__link {
  text-decoration: none;
  outline: none; }
  .menu__link:link {
    color: #fff; }
  .menu__link:visited {
    color: #fff; }

.menu__item {
  font-size: 1.6rem;
  padding: 8px 20px;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  border: 1px solid transparent; }

.menu__item_hovered:hover {
  border: 1px solid #fff;
  border-radius: 35px; }

.logo {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "BigJohn", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
  align-self: center; }

/* #region slider */
.slider {
  background-image: url("../images/slider__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); }

.slider__flex-container {
  display: flex;
  justify-content: center;
  padding: 290px 0 210px; }

.slider__section-flex-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 20%; }

.slider__title {
  font-size: 3.5rem;
  padding: 0;
  margin: 0 0 35px;
  color: #fff;
  font-family: "SourceSansPro Light", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  /* (X * S / 1000 = P), S - font size (px) in Photoshop, 
                           X - letter spacing in Photoshop, 
                           P - CSS letter spacing
    */
  font-weight: normal; }

.slider__text {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.08rem;
  /* (X * S / 1000 = P), S - font size (px) in Photoshop, 
                           X - letter spacing in Photoshop, 
                           P - CSS letter spacing
    */ }

.slider__button-container {
  display: flex;
  justify-content: center;
  padding: 0 0 70px; }

.slider__icon-block {
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #19bd9a;
  border-radius: 50%; }

.slider__icon-container {
  width: 13px;
  height: 13px;
  align-self: center; }

.slider__icon {
  fill: #fff; }

/* #endregion slider*/
/* #region about*/
.about__description-block {
  flex: 0 1 440px;
  margin: 140px 165px 100px 0; }

.about__flex-container {
  display: flex;
  justify-content: center; }

.about__caption {
  font-size: 2rem;
  padding: 0;
  margin: 0 0 40px;
  color: #333b46;
  font-family: "SourceSansPro Light", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal; }

.about__text {
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 32px;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 2.6rem;
  text-align: left; }

.about__button {
  outline: none;
  padding: 0px;
  background-color: #fff;
  border: 1px solid #333b46;
  border-radius: 30px; }

.about__button-text {
  font-size: 1.6rem;
  padding: 0;
  margin: 6px 30px;
  color: #333b46;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: capitalize; }

.about__photo-container {
  margin: 100px 0 75px 0; }

.about__tablet-image {
  display: inline-block;
  width: 100%;
  height: auto; }

/* #endregion about*/
/* #region Details*/
.section-title-container {
  display: flex;
  flex-direction: column;
  width: 45%; }

.details {
  background-color: #f3f3f3; }

.section-title {
  display: flex;
  justify-content: center; }

.section-title__caption {
  font-size: 2rem;
  padding: 0;
  margin: 0 0 35px;
  color: #333b46;
  font-family: "SourceSansPro Light", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.42rem;
  text-transform: uppercase;
  font-weight: normal; }

.section-title__text {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.22rem;
  letter-spacing: 0.22rem; }

.details__section-title {
  padding: 75px 0 60px; }

.icons-list {
  padding: 0;
  margin: 0; }

.icons-list__item {
  display: inline-block;
  list-style-type: none;
  width: 53px;
  height: 53px;
  margin: 0 25px 0 0;
  background-color: #81868e;
  border-radius: 50%; }
  .icons-list__item:last-child {
    margin: 0; }

.icons-list__item_hovered:hover {
  background-color: #19bd9a; }

.icons-list__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; }

.icons-list__image {
  display: block;
  width: 25px; }

.details__list-container {
  display: flex;
  justify-content: center;
  margin: 0 0 60px; }

.details__description-container {
  display: flex;
  justify-content: space-between;
  padding: 0 120px 100px 70px; }

.details__left-col {
  max-width: 30%; }

.details__right-col {
  width: 56%;
  padding: 55px 0 0; }

.details__description-title {
  font-size: 2rem;
  padding: 0;
  margin: 0 0 30px;
  color: #464646;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: capitalize;
  text-align: left; }

.details__description-text {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 2.6rem;
  text-align: left; }

.details__colored-text {
  color: #19bd9a;
  font-family: "Open Sans Bold", Geneva, Tahoma, sans-serif; }

.details__strong-text {
  color: #636971;
  font-family: "Open Sans Bold", Geneva, Tahoma, sans-serif; }

/* #endregion Details*/
/* #region project*/
.project__section-title {
  padding: 80px 0 60px; }

.projects__image-slider {
  display: flex;
  justify-content: stretch;
  height: 320px; }

.projects__first-image {
  background-image: url("../images/pr_slider_first.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  filter: grayscale(1);
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.8) inset;
  display: flex;
  justify-content: center; }

.projects__second-image {
  background-image: url("../images/pr_slider_second.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  filter: grayscale(1);
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.8) inset;
  display: flex;
  justify-content: center; }

.projects__third-image {
  background-image: url("../images/pr_slider_third.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  filter: grayscale(1);
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.8) inset;
  display: flex;
  justify-content: center; }

.projects__item {
  width: 33.3%;
  height: 100%;
  transition: width 2s ease-out; }
  .projects__item:hover {
    width: 83.25%; }
  .projects__item:hover .projects__text {
    display: none; }
  .projects__item:hover .projects__first-image_hovered {
    filter: none;
    transition: box-shadow 2s ease;
    box-shadow: none; }
  .projects__item:hover .projects__second-image_hovered {
    filter: none;
    transition: box-shadow 2s ease;
    box-shadow: none; }
  .projects__item:hover .projects__third-image_hovered {
    filter: none;
    transition: box-shadow 2s ease;
    box-shadow: none; }

.projects__text {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "SourceSansPro Light", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  align-self: center; }

/* #endregion project*/
/* #region offer*/
.offer {
  background-image: url("../images/offer_bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

.offer__bg-container {
  background-color: rgba(25, 189, 154, 0.85); }

.offer__container {
  display: flex;
  justify-content: space-between; }

.offer__text {
  font-size: 2rem;
  padding: 45px 0;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center; }

.offer__colored {
  font-family: "Open Sans Bold", Geneva, Tahoma, sans-serif; }

.default-button {
  outline: none;
  padding: 0px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30px;
  height: 37px;
  align-self: center; }

.default-button__text {
  font-size: 1.6rem;
  padding: 0;
  margin: 6px 30px;
  color: #fff;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: capitalize; }

/* #endregion offer*/
.portfolio__section-title {
  padding: 80px 0; }

.portfolio__list {
  padding: 0 0 38px 0;
  margin: 0;
  text-align: center; }

.portfolio {
  background-color: #f3f3f3; }

.portfolio__list-item {
  display: inline-block;
  list-style-type: none;
  font-size: 1.6rem;
  padding: 0 0 17px 0;
  margin: 0 35px 0 0;
  color: #464646;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: capitalize; }
  .portfolio__list-item:last-child {
    margin-right: 0; }

.portfolio__list-item_hovered:hover::after {
  content: "";
  display: block;
  background-color: #19bd9a;
  width: 58%;
  height: 2px;
  margin: 0 auto;
  margin-top: 15px; }

.portfolio__list-item_hovered:hover {
  padding-bottom: 0; }

.portfolio__flex-container {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap; }

.portfolio__caption {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: #19bd9a;
  font-family: "SourceSansPro Light", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.4rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal; }
  .portfolio__caption:after {
    content: "";
    display: block;
    width: 23px;
    height: 1px;
    background-color: #19bd9a;
    margin-top: 15px; }

.portfolio__text {
  font-size: 1.2rem;
  padding: 0;
  margin: 25px 0 0;
  color: #b2b3b3;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 2.2rem;
  text-align: left; }

.portfolio__share-block, .portfolio__like-block {
  display: flex;
  justify-content: center;
  height: 28px;
  width: 28px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 10px; }

.portfolio__like-block {
  margin: 0; }

.portfolio__share-image, .portfolio__like-image {
  width: 14px;
  height: 14px;
  fill: #fff;
  align-self: center; }

.portfolio__actions-block {
  display: flex;
  justify-content: flex-start;
  padding-top: 20%;
  padding: 55px 0 0; }

.portfolio__item-small-resize .portfolio__description-block {
  padding-top: 20px; }

.portfolio__item-small-resize .portfolio__actions-block {
  padding-top: 20px; }

.portfolio__item-medium-resize .portfolio__description-block {
  padding-top: 60px; }

.portfolio__item-medium-resize .portfolio__actions-block {
  padding-top: 20px; }

.portfolio__item {
  flex: 0 1 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px; }
  .portfolio__item:hover .portfolio__description-block_hovered {
    display: block; }
  .portfolio__item:hover::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.8) inset;
    position: absolute;
    top: 0; }
  .portfolio__item:last-child {
    margin-bottom: 0; }

.portfolio__description-block {
  display: none;
  position: absolute;
  padding: 80px 40px 0;
  top: 0; }

.portfolio__image {
  display: block; }

.portfolio__first-col, .portfolio__second-col, .portfolio__third-col {
  display: flex;
  flex-direction: column;
  margin-right: 10px; }

.portfolio__project-block {
  background-image: url("../images/portfolio_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  margin: 40px 0 100px; }

.portfolio__project-bg-contaniner {
  height: 100%;
  width: 100%;
  background-color: rgba(25, 189, 154, 0.85);
  display: flex;
  flex-direction: column; }

.portfolio__project-caption {
  font-size: 2rem;
  padding: 53px 0 0 0;
  margin: 0 0 30px;
  color: #fff;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 3.2rem;
  font-weight: normal; }

.portfolio-strong-text {
  font-family: "Open Sans Bold", Geneva, Tahoma, sans-serif; }

.portfolio__default-button {
  margin: 0 0 53px; }

.team {
  background-color: #fff; }

.team__section-title {
  padding: 80px 0 65px; }

.team__slide {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  min-width: 1170px; }
  .team__slide:last-child {
    padding: 0; }

.team__info-block {
  flex: 0 1 450px; }

.team__title {
  border-right: 4px solid #19bd9a;
  padding: 0 45px 0 0; }

.team__person-name {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: #464646;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.08rem;
  line-height: 2.6rem;
  text-transform: capitalize;
  text-align: right;
  font-weight: normal; }

.team__person-position {
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 28px;
  color: #81868e;
  font-family: "SourceSansPro Light Italic", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.14rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-align: right; }

.team__text {
  font-size: 1.4rem;
  padding: 0 45px 0 0;
  margin: 0 0 50px;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.14rem;
  line-height: 2.6rem;
  text-align: right; }

.team__bar-block {
  flex: 0 1 330px;
  margin: 0 0 30px;
  padding: 0 45px 0 0; }

.team__progress-bar-text {
  display: flex;
  justify-content: space-between; }

.team__progress-bar-caption, .team__progress-bar-state-value {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  color: #81868e;
  font-family: "SourceSansPro Light", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.16rem;
  line-height: 2.6rem;
  text-transform: uppercase; }

.team__progress-bar {
  height: 4px;
  background-color: #e1e4e9; }

.team__inner-bar {
  width: 80%;
  height: 4px;
  background-color: #19bd9a; }

.team__inner-bar-second {
  width: 65%; }

.team__inner-bar-third {
  width: 75%; }

.team__person-image {
  position: relative;
  margin: 10px 40px 65px; }

.team__socials-layer {
  display: none;
  position: absolute;
  top: 8px;
  bottom: 11px;
  left: 8px;
  right: 8px;
  background-color: rgba(249, 249, 249, 0.75); }

.team__socials-list-item {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0; }

.team__socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.team__slider {
  position: relative;
  overflow: hidden; }

.team__slides-container {
  width: 3510px;
  display: flex;
  margin-left: 0;
  transition: 1s ease; }

.team__circle-list {
  position: absolute;
  right: 50%;
  bottom: 0;
  padding: 0;
  margin: 0 0 25px 0; }

.team__circle {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px 0 0;
  width: 10px;
  height: 10px;
  border: 1px solid #19bd9a;
  border-radius: 50%;
  background-color: transparent; }

.team__circle_active {
  background-color: #19bd9a; }

.team__bar40 {
  width: 40% !important; }

.team__bar55 {
  width: 55%; }

.team__bar68 {
  width: 68% !important; }

.team__bar90 {
  width: 90% !important; }

.team__bar51 {
  width: 51% !important; }

.team__bar40 {
  width: 40% !important; }

.team__bar20 {
  width: 20%; }

.team-cta__caption {
  font-size: 2rem;
  padding: 53px 0 0 0;
  margin: 0 0 30px;
  color: #fff;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 3.2rem;
  text-transform: capitalize;
  font-weight: normal; }

.team-cta__default-button {
  margin: 0 0 53px; }

.team-cta {
  background-image: url("../images/team-cta_bg2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.team-cta__bg-container {
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column; }

.testimonials__section-title {
  padding: 75px 0 66px; }

.testimonials {
  background-color: #f3f3f3; }

.testimonials__slider {
  background-color: #fff;
  margin: 0;
  position: relative;
  overflow: hidden; }

.testimonials__image {
  min-width: 132px !important;
  height: 132px !important;
  border-radius: 50%;
  background-image: url("../images/testimonials__slide_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 70px; }

.testimonials__container {
  padding: 0 0 100px; }

.testimonials__text {
  font-size: 1.6rem;
  padding: 0;
  margin: 0 0 25px;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.08rem;
  line-height: 3rem;
  text-align: left; }

.testimonials__name {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  color: #19bd9a;
  font-family: "Open Sans Bold", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-align: left; }

.testimonials__position {
  font-size: 1.4rem;
  padding: 0 0 30px 0;
  margin: 0;
  color: #464646;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 2.2rem;
  text-transform: uppercase;
  text-align: left; }

.testimonials__slide {
  display: flex;
  justify-content: center;
  padding: 45px 120px 45px 100px;
  max-width: 950px;
  min-width: 950px; }

.testimonials__slide-container {
  width: 2850px;
  display: flex;
  margin-left: 0;
  transition: 1s ease; }

.testimonials__circle-list {
  position: absolute;
  right: 50%;
  bottom: 0;
  padding: 0;
  margin: 0 0 25px 0; }

.testimonials__circle {
  list-style-type: none;
  display: inline-block;
  margin: 0 5px 0 0;
  width: 10px;
  height: 10px;
  border: 1px solid #19bd9a;
  border-radius: 50%;
  background-color: transparent; }

.testimonials__circle_active {
  background-color: #19bd9a; }

.blog {
  position: relative; }
  .blog:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-image: url("../images/blog__bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: grayscale(1); }
  .blog:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.85); }

.blog__slide-title {
  font-size: 2rem;
  padding: 85px 0 0;
  margin: 0 0 30px;
  color: #fff;
  font-family: "SourceSansPro Light", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.4rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left; }

.blog__slide-subtitle {
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 80px;
  color: #b2b3b3;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.07rem;
  line-height: 2.6rem;
  text-align: left;
  width: 40%; }

.blog__slide {
  position: relative;
  width: 1170px;
  float: left; }
  .blog__slide:last-child:after {
    content: "";
    clear: both; }

.blog__circle-list {
  position: absolute;
  right: 20px;
  top: 50%;
  padding: 0; }

.blog__circle {
  list-style-type: none;
  margin: 0 0 5px 0;
  width: 10px;
  height: 10px;
  border: 1px solid #b2b3b3;
  border-radius: 50%;
  background-color: transparent; }

.blog__circle_active {
  background-color: #b2b3b3; }

.blog__items-container {
  width: 3510px;
  position: relative;
  transition: 1s ease; }

.blog__slider {
  height: 700px;
  overflow: hidden;
  width: 1170px;
  margin: 0 auto;
  position: relative; }

.blog__video-item {
  padding: 0 0 100px;
  display: flex;
  justify-content: center; }

.blog__video {
  width: 70%;
  min-height: 370px; }

.blog__third-slide {
  padding: 75px 0 100px; }
  .blog__third-slide .blog__slide-title {
    padding: 0; }
  .blog__third-slide .blog__slide-subtitle {
    margin: 0; }

.blog__item {
  padding: 0 0 0 70px;
  width: 50%; }

.blog__caption {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: #e1e4e9;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.08rem;
  line-height: 2.6rem;
  text-transform: capitalize;
  font-weight: normal;
  text-align: left; }

.blog__author {
  font-size: 1.4rem;
  padding: 0;
  margin: 7px 0;
  color: #81868e;
  font-family: "SourceSansPro Light Italic", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.14rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  text-align: left; }

.blog__author-colored {
  color: #19bd9a !important; }

.blog__stats {
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 55px;
  color: #464646;
  font-family: "SourceSansPro Light", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.14rem;
  line-height: 2.6rem;
  text-transform: capitalize;
  text-align: left; }

.blog__text {
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 50px;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.07rem;
  line-height: 2.6rem;
  text-align: left; }

.blog__link {
  text-decoration: none;
  outline: none;
  display: inline-block; }

.blog__full-article-link {
  font-size: 1.6rem;
  padding: 0 0 100px;
  margin: 0;
  color: #b2b3b3;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 2.2rem;
  text-transform: capitalize;
  text-align: left; }

.services__section-title {
  padding: 80px 0 60px; }

.service__list-item {
  display: inline-block;
  list-style-type: none;
  width: 53px;
  height: 53px;
  margin: 0 0 22px;
  background-color: #81868e;
  border-radius: 50%; }
  .service__list-item:last-child {
    margin: 0; }

.service__list-item_hovered:hover {
  background-color: #19bd9a; }

.service__content {
  display: flex; }

.service__list {
  display: flex;
  flex-direction: column;
  max-width: 53px;
  margin: 0;
  padding: 0 43px 137px 70px; }

.service__image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%; }

.services__icon {
  width: 25px; }

.service__caption {
  font-size: 2rem;
  padding: 0;
  margin: 0 0 24px;
  color: #464646;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.08rem;
  text-transform: capitalize;
  font-weight: normal;
  text-align: left; }

.service__first-par {
  font-size: 1.6rem;
  padding: 0;
  margin: 0 0 20px;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.08rem;
  line-height: 3rem;
  text-align: left; }

.service__second-par {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.07rem;
  line-height: 2.6rem;
  text-transform: lowercase;
  text-align: left; }

.service__colored-text {
  color: #19bd9a;
  font-family: "Open Sans Bold", Geneva, Tahoma, sans-serif; }

.service__strong-text {
  color: #636971;
  font-family: "Open Sans Bold", Geneva, Tahoma, sans-serif; }

.services__description {
  margin: 0 75px 0 0;
  max-width: 410px; }

/* Load animation */
@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0; } }

@-moz-keyframes load {
  0% {
    stroke-dashoffset: 0; } }

@keyframes load {
  0% {
    stroke-dashoffset: 0; } }

/* Container */
.progress {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center; }

.service__progress {
  padding: 55px 0 0; }

/* Item */
.progress__item {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-family: Lato;
  font-weight: 100;
  margin: 0 20px 0 0; }
  .progress__item:before {
    content: attr(data-name);
    position: absolute;
    width: 100%;
    bottom: -30px;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    color: #81868e;
    font-family: "Roboto Light", Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 0.08rem;
    line-height: 2.8rem;
    text-transform: capitalize; }

.progress__text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 35%; }

.progress__text {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.125rem;
  line-height: 2.8rem;
  text-transform: capitalize; }

.progress__percent {
  font-size: 1.4rem; }

.progress svg {
  width: 12.5rem;
  height: 12.5rem; }

.progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); }

.progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 6;
  stroke-dasharray: 629;
  stroke: rgba(11, 119, 123, 0.9);
  -webkit-animation: load 10s;
  -moz-animation: load 10s;
  -o-animation: load 10s;
  animation: load 10s; }

/* #region quotes*/
.team-quotes {
  background-image: url("../images/quotes__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 0 0 9000px rgba(0, 0, 0, 0.85) inset; }

.team-quotes__description {
  width: 50%; }

.team-quotes__title {
  font-size: 2rem;
  padding: 0;
  margin: 70px 0 50px;
  color: #f3f3f3;
  font-family: "SourceSansPro Light", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.22rem;
  text-transform: uppercase;
  text-align: left; }

.team-quotes__text {
  font-size: 1.6rem;
  padding: 0;
  margin: 0 0 25px;
  color: #b2b3b3;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 3rem;
  text-align: left; }

.team-quotes__author {
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 5px;
  color: #b2b3b3;
  font-family: "Open Sans Bold", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-align: left; }

.team-quotes__position {
  font-size: 1.4rem;
  padding: 0;
  margin: 0 0 5px;
  color: #b2b3b3;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-align: left; }

.team-quotes__colored-text {
  color: #19bd9a; }

.team-quotes__flex-container {
  display: flex;
  justify-content: space-between; }

.team-quotes__monitor-image {
  background-image: url("../images/monitor.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 419px;
  min-height: 414px;
  margin: -35px 0 0; }

/* #endregion quotes*/
/* #region Price*/
.price__section-title {
  padding: 80px 0 55px; }

.price {
  background-color: #f3f3f3; }

.price__items-container {
  display: flex;
  justify-content: center;
  padding: 0 0 100px; }

.price__item {
  flex: 0 1 235px;
  background-color: #fff;
  position: relative;
  overflow: hidden; }
  .price__item:hover .price__first-layer_hovered {
    margin-top: 303px; }
  .price__item:nth-child(2) {
    margin: 0 65px; }

.price__title {
  background-color: #19bd9a;
  font-size: 2rem;
  padding: 20px 0;
  margin: 0;
  color: #fff;
  font-family: "Open Sans Bold", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase; }

.price__desciption-container {
  display: flex;
  flex-direction: column;
  padding: 77px 0;
  background-color: #fff; }

.price__mobile-title-container {
  display: none; }

.price__mobile-title-container {
  background-color: #19bd9a; }

.price__mobile-title {
  font-size: 2rem;
  padding: 20px 0;
  margin: 0;
  color: #fff;
  font-family: "Open Sans Bold", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase; }

.price__currency-symbol {
  background-image: url("../images/dollar-symbol.svg");
  width: 35px;
  height: 35px; }

.price__currency-value {
  font-size: 4.227rem;
  padding: 0;
  margin: 0;
  color: #1fbba6;
  font-family: "SourceSansPro Black", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 5.5rem; }

.price__value-container {
  display: flex;
  justify-content: center;
  margin-left: -8px; }

.price__text {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.07rem;
  text-transform: capitalize; }

.price__list {
  padding: 21px 0 40px 34px;
  margin: 0; }

.price__list-item {
  list-style-type: none;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 2.9rem;
  text-transform: capitalize;
  text-align: left; }

.price__offer-button {
  background-color: #19bd9a;
  padding: 23px 0; }

.price__offer-text {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: capitalize; }

.price__offer-link-items-container {
  display: flex;
  justify-content: center; }

.price__offer-icon {
  background-image: url("../images/next.svg");
  width: 11px;
  height: 11px;
  align-self: center;
  margin: 0px 5px 0 10px; }

.price__offer-link {
  text-decoration: none; }

.price__first-layer {
  position: absolute;
  width: 100%;
  transition: margin 2s; }

/* #endregion Price*/
/* #region subscribe*/
.subscribe {
  box-shadow: inset 0 0 0 9000px rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .subscribe::before {
    content: "";
    filter: grayscale(1);
    background: url("../images/subscribe__bg.png") no-repeat center center;
    background-size: cover;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%; }

.subscribe__section-title, .contacts__section-title {
  padding: 75px 0 65px; }

.subscribe .section-title__caption {
  color: #fff; }

.subscribe__form {
  padding: 0 0 100px; }

.subscribe__form-items-container {
  display: flex;
  justify-content: center; }

.subscribe__email {
  outline: none;
  border: 1px solid #81868e;
  min-width: 360px;
  font-size: 1.4rem;
  padding: 0 0 0 28px;
  margin: 0 10px 0 0;
  color: #cfd3d4;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: capitalize;
  text-align: left;
  background-color: transparent; }
  .subscribe__email::-moz-placeholder {
    opacity: 1; }
  .subscribe__email:-moz-placeholder {
    opacity: 1; }
  .subscribe__email::-webkit-input-placeholder {
    opacity: 1; }
  .subscribe__email:-ms-input-placeholder {
    opacity: 1; }

.subscribe__submit-button {
  background-color: #19bd9a;
  outline: none;
  border: none;
  padding: 0; }

.subscribe__submit-button-text {
  font-size: 1.4rem;
  padding: 10px 50px;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase; }

/* #endregion subscribe*/
/* #region contacts*/
.contacts {
  background-color: #f3f3f3; }

.contacts__item {
  min-width: 287px; }
  .contacts__item:nth-child(2) {
    margin: 0 40px; }

.contacts__image-container {
  display: flex;
  justify-content: center;
  min-height: 145px; }

.contacts__icon {
  align-self: center;
  display: block;
  height: 44px; }

.contacts__items-container {
  display: flex;
  justify-content: center;
  padding: 0 0 100px; }

.contacts__first-image {
  display: flex;
  justify-content: center;
  background-image: url("../images/email__bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto; }

.contacts__second-image {
  display: flex;
  justify-content: center;
  background-image: url("../images/office__bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto; }

.contacts__third-image {
  display: flex;
  justify-content: center;
  background-image: url("../images/phone__bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto; }

.contacts__description-container {
  background-color: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05); }

.contacts__caption {
  font-size: 1.6rem;
  padding: 30px 0 20px;
  margin: 0;
  color: #464646;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.064rem;
  text-transform: uppercase;
  font-weight: normal; }

.contacts__text, .contacts__text-link {
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 2.4rem;
  text-transform: uppercase; }
  .contacts__text:last-of-type, .contacts__text-link:last-of-type {
    padding: 0 0 25px; }

.contacts__text-link {
  text-decoration: none;
  display: block; }
  .contacts__text-link:visited {
    color: #81868e; }

/* #endregion contacts*/
/* #region Contact form*/
.contact-section__form {
  margin: 78px 0 130px; }

.contact-section {
  background-color: #fff; }

.contact-section__container {
  display: flex;
  justify-content: space-between;
  padding: 0 0 30px; }

.contact-section__name-input, .contact-section__email-input, .contact-section__subject-input {
  outline: none;
  border: 1px solid #d8dce0;
  min-width: 287px;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 1.4rem;
  padding: 10px 0 10px 25px;
  margin: 0;
  color: #a9a9a9;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-align: left; }
  .contact-section__name-input::-moz-placeholder, .contact-section__email-input::-moz-placeholder, .contact-section__subject-input::-moz-placeholder {
    opacity: 1; }
  .contact-section__name-input:-moz-placeholder, .contact-section__email-input:-moz-placeholder, .contact-section__subject-input:-moz-placeholder {
    opacity: 1; }
  .contact-section__name-input::-webkit-input-placeholder, .contact-section__email-input::-webkit-input-placeholder, .contact-section__subject-input::-webkit-input-placeholder {
    opacity: 1; }
  .contact-section__name-input:-ms-input-placeholder, .contact-section__email-input:-ms-input-placeholder, .contact-section__subject-input:-ms-input-placeholder {
    opacity: 1; }

.contact-section__textarea-container {
  padding: 0 0 25px; }

.contact-section__text {
  width: 100%;
  min-height: 190px;
  outline: none;
  resize: none;
  box-sizing: border-box;
  border: 1px solid #d8dce0;
  font-size: 1.4rem;
  padding: 10px 10px;
  margin: 0;
  color: #a9a9a9;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-align: left; }

.contact-section__container {
  width: 940px; }

.contact-section__button {
  background-color: #19bd9a;
  outline: none;
  border: none;
  padding: 0;
  width: 100%; }

.contact-section__button-text {
  font-size: 1.4rem;
  padding: 10px 50px;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase; }

/* #endregion Contact form*/
/* #region map*/
.map {
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.85) inset; }

.map__text-container {
  display: flex;
  justify-content: center; }

.map__text {
  font-size: 1.6rem;
  padding: 0;
  margin: 0 30px 0 0;
  color: #fff;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  letter-spacing: 0.08rem;
  text-transform: uppercase; }

.map__icon-block {
  display: flex;
  justify-content: center;
  width: 19px;
  height: 19px;
  background-color: #19bd9a;
  border-radius: 50%; }

.map__icon-container {
  width: 9px;
  height: 9px;
  align-self: center; }

.map__icon {
  fill: #fff; }

.map__text-container {
  padding: 240px 0; }

/* #endregion map*/
/* #region footer*/
.footer {
  background-color: #f3f3f3; }

.footer__container {
  display: flex;
  justify-content: center;
  padding: 80px 0 90px; }

.socials-list {
  margin: 0;
  padding: 0; }

.footer__socials-list {
  padding: 25px 0 0 0;
  text-align: center; }

.footer__logo {
  color: #323a45;
  text-align: center; }

.footer__copyright {
  font-size: 1.4rem;
  padding: 10px 0 0;
  margin: 0;
  color: #81868e;
  font-family: "Open Sans", Geneva, Tahoma, sans-serif;
  text-align: center;
  text-transform: capitalize; }

.socials-list__item {
  display: inline-block;
  list-style-type: none;
  width: 26px;
  height: 26px;
  margin: 0 10px 0 0; }
  .socials-list__item:last-child {
    margin: 0; }

.socials-list__fb, .socials-list__tw, .socials-list__ln, .socials-list__in, .socials-list__vm {
  background: url("../images/facebook.svg") no-repeat center center;
  background-size: cover;
  height: 100%; }

.socials-list__link {
  text-decoration: none; }

.socials-list__tw {
  background: url("../images/twitter.svg") no-repeat center center; }

.socials-list__ln {
  background: url("../images/linkedin.svg") no-repeat center center; }

.socials-list__in {
  background: url("../images/instagram.svg") no-repeat center center; }

.socials-list__vm {
  background: url("../images/vimeo.svg") no-repeat center center; }

/* #endregion footer*/
@media (max-width: 1190px) {
  .container {
    width: 1050px; }
  .details__right-col {
    width: 55%; }
  .progress__item:last-child {
    margin: 30px 0 0; }
  .portfolio__fouth-col .portfolio__item:first-child {
    float: left;
    margin-top: 10px;
    margin-left: -10px; }
  .portfolio__fouth-col .portfolio__item:nth-child(2) {
    float: left;
    margin: 10px 10px 0; }
  .portfolio__fouth-col .portfolio__item:last-child {
    margin-top: 10px; }
  .portfolio__fouth-col .portfolio__item:after {
    clear: both; }
  .team__circle-list {
    right: 45%; }
  .portfolio__flex-container {
    justify-content: center; }
  .blog__items-container {
    width: 3150px; }
  .team__slide {
    max-width: 1050px;
    width: 1050px;
    min-width: 1050px; }
  .team__slides-container {
    width: 3150px; }
  .blog__slider {
    width: 1050px; }
  .blog__slide {
    width: 1050px; }
  .contact-section__container {
    width: 940px; }
  .testimonials__description {
    width: 65%; }
  .testimonials__slide {
    padding-left: 80px; }
  .section-title-container {
    width: 60%; }
  .contacts__item {
    width: 250px; } }

@media (max-width: 1090px) {
  .container {
    width: 900px; }
  .portfolio__fouth-col .portfolio__item:first-child {
    margin: 0 10px 0 -20px; }
  .portfolio__fouth-col .portfolio__item:nth-child(2) {
    margin: 0 10px 0 0; }
  .portfolio__fouth-col .portfolio__item:last-child {
    margin-top: 0; }
  .portfolio__fouth-col .portfolio__item:after {
    clear: both; }
  .blog__slide-subtitle {
    margin: 0 0 40px; }
  .blog__full-article-link {
    padding: 0 0 60px; }
  .service__progress {
    padding: 0; }
  .services__description {
    margin: 0 25px 0 0; }
  .portfolio__fouth-col {
    margin-top: 10px; }
    .portfolio__fouth-col .portfolio__item {
      float: left; }
      .portfolio__fouth-col .portfolio__item:first-child {
        float: left;
        margin: 0 10px 0 -10px; }
      .portfolio__fouth-col .portfolio__item:nth-of-type(2) {
        margin-right: 10px; }
      .portfolio__fouth-col .portfolio__item:after {
        clear: both; }
  .team__slides-container {
    width: 2700px; }
  .team__slide {
    min-width: 900px;
    max-width: 900px; }
  .testimonials__slide {
    width: 850px;
    padding-left: 5px; }
  .testimonials__slide-container {
    width: 2700px; }
  .testimonials__description {
    width: 55%; }
  .blog__slider {
    width: 900px; }
  .blog__items-container {
    width: 2700px; }
  .blog__slide {
    width: 900px; }
  .contact-section__container {
    width: 900px; } }

@media (max-width: 960px) {
  .container {
    width: 700px; }
  .details__description-container {
    padding: 0 0 65px; }
  .slider__flex-container {
    padding: 230px 0  180px; }
  .portfolio__third-col {
    margin-left: -10px; }
  .about__description-block {
    margin: 90px 165px 90px 0; }
  .section-title-container {
    width: 70%; }
  .details__list-container {
    margin: 0 0 40px; }
  .offer__container {
    flex-direction: column; }
  .offer__bg-container .container {
    padding: 0 0 35px 0; }
  .offer__text {
    padding: 35px 0 25px; }
  .service__list {
    padding: 0 43px 35px 70px; }
  .service__progress {
    padding: 0; }
  .service__content {
    flex-wrap: wrap; }
  .service__progress {
    margin: -45px auto 0;
    padding: 0 0 70px; }
  .team-quotes__monitor-image {
    display: none; }
  .team-quotes__flex-container {
    justify-content: center; }
  .team-quotes__description {
    width: auto;
    padding: 0 0 45px; }
  .portfolio__third-col {
    margin-top: 10px; }
  .portfolio__fouth-col .portfolio__item {
    margin: 10px 0 0 0;
    clear: both;
    margin-bottom: 10px; }
    .portfolio__fouth-col .portfolio__item:first-child {
      margin: 0; }
    .portfolio__fouth-col .portfolio__item:nth-of-type(2) {
      margin: 10px 0 0; }
    .portfolio__fouth-col .portfolio__item:last-child {
      margin: 10px 0 0; }
  .team__slide {
    max-width: 700px;
    min-width: 700px; }
  .testimonials__slide {
    width: 700px;
    justify-content: start;
    padding-left: 15px; }
  .testimonials__slide-container {
    width: 2100px; }
  .testimonials__description {
    width: 50%; }
  .testimonials__image {
    margin-right: 30px; }
  .blog__slider {
    width: 700px; }
  .price__list {
    padding: 10px 0 10px 40px; }
  .price__first-layer {
    display: none; }
  .portfolio__default-button {
    padding: 0;
    margin: 0 0 25px; }
  .price__mobile-title-container {
    display: block; }
  .portfolio__item:hover .portfolio__description-block_hovered {
    display: none;
    box-shadow: none; }
  .portfolio__item:hover::before {
    content: "";
    display: none; }
  .blog__items-container {
    width: 2100px; }
  .blog__slide {
    width: 700px; }
  .blog__slide-subtitle {
    margin: 0 0 25px; }
  .blog__stats {
    margin: 0 0 25px; }
  .blog__full-article-link {
    padding: 0 0 50px; }
  .contacts__items-container {
    flex-wrap: wrap; }
  .contacts__item:nth-child(2) {
    margin: 0 0 40px 40px; }
  .contact-section__form {
    width: 700px;
    margin: 78px 0; }
  .contact-section__container {
    flex-direction: column;
    max-width: 700px;
    padding: 0; }
  .contact-section__name-input, .contact-section__email-input, .contact-section__subject-input {
    min-width: 700px; }
  .contact-section__email-input {
    min-width: 700px;
    margin: 20px 0; }
  .contact-section__subject-input {
    min-width: 700px;
    margin: 0 0 20px 0; }
  .footer__container {
    padding: 50px 0; }
  .slider__section-flex-container {
    width: 80%; }
  .main__menu {
    display: none; }
  .header__burger-container {
    display: block; }
  .header {
    height: 60px; }
  .contact-section__text {
    min-height: 120px; }
  .map__text-container {
    padding: 180px 0; }
  .blog__circle-list {
    top: 45%; }
  .projects {
    display: none; }
  .testimonials__circle-list {
    right: 45%; } }

@media (max-width: 760px) {
  html {
    font-size: 8px; }
  .testimonials__description {
    width: 35%; }
  .price__list {
    padding: 10px 0 10px 40px; }
  .price__first-layer {
    display: none; }
  .price__mobile-title-container {
    display: block; }
  .container {
    width: 520px; }
  .slider__flex-container {
    padding: 110px 0 110px; }
  .slider__section-flex-container {
    width: 100%; }
  .about__description-block {
    margin: 60px 50px 60px 0; }
  .section-title-container {
    width: 100%; }
  .details__section-title {
    padding: 40px 0; }
  .details__left-col {
    max-width: 40%; }
  .details__right-col {
    width: 50%; }
  .service__list {
    padding: 0 30px 35px 0; }
  .portfolio__list-item {
    margin: 0 15px 0 0; }
  .portfolio__image {
    width: 200px;
    height: auto; }
  .portfolio__description-block {
    padding: 20px 20px 0; }
  .portfolio__text {
    margin: 15px 0 0; }
  .portfolio__actions-block {
    padding-top: 30px; }
  .portfolio__item-medium-resize .portfolio__description-block {
    padding: 15px; }
  .portfolio__item-medium-resize .portfolio__actions-block {
    padding: 6px 0 0; }
  .portfolio__item-small-resize .portfolio__description-block {
    padding: 10px 10px; }
  .portfolio__item-small-resize .portfolio__text {
    margin: 5px 0 0; }
  .portfolio__item-small-resize .portfolio__actions-block {
    padding-top: 3px; }
  .team__person-image {
    width: auto;
    height: auto;
    margin: 10px 20px 65px; }
  .team__image {
    width: 200px;
    height: auto; }
  .team__slides-container {
    width: 1560px; }
  .team__slide {
    max-width: 520px;
    min-width: 520px; }
  .team__text {
    margin: 0 0 10px; }
  .price__currency-symbol {
    height: 28px;
    background-repeat: no-repeat; }
  .team__person-position {
    margin: 0 0 18px; }
  .testimonials__slide-container {
    width: 1560px; }
  .testimonials__image {
    min-width: 100px !important;
    height: 100px !important; }
  .blog__slider {
    width: 520px; }
  .blog__items-container {
    width: 1560px; }
  .blog__slide {
    width: 520px; }
  .price__items-container {
    flex-wrap: wrap; }
  .price__item:nth-child(2) {
    margin: 0 20px; }
  .price__item:last-child {
    margin: 20px 0 0; }
  .contacts__items-container {
    padding: 0 0 50px; }
  .service__progress {
    margin: -150px auto 0; }
  .subscribe__form {
    padding: 0 0 50px; }
  .contacts__item:nth-child(2) {
    margin: 20px 0; }
  .price__items-container {
    padding: 0 0 50px; }
  .contact-section__form {
    width: 520px;
    margin: 40px 0; }
  .contact-section__container {
    width: 520px; }
  .contact-section__name-input, .contact-section__email-input, .contact-section__subject-input {
    min-width: 520px; }
  .map__text-container {
    padding: 140px 0; }
  .footer__container {
    padding: 30px 0; }
  .portfolio__project-caption {
    padding: 23px 10px 0;
    margin: 0 0 20px; }
  .portfolio__project-block {
    margin: 40px 0; }
  .portfolio__default-button {
    padding: 0 0 23px; }
  .project__section-title {
    padding: 40px 0; }
  .section-title__caption {
    margin: 0 0 25px; }
  .services__section-title {
    padding: 40px 0; }
  .portfolio__section-title {
    padding: 40px 0; }
  .team__section-title {
    padding: 40px 0; }
  .testimonials__section-title {
    padding: 40px 0; }
  .price__section-title {
    padding: 40px 0; }
  .contacts__section-title {
    padding: 40px 0; }
  .subscribe__form-items-container {
    flex-direction: column; }
  .subscribe__email {
    margin: 0 0 10px 0;
    min-height: 34px; } }

@media (max-width: 570px) {
  .container {
    width: 310px; }
  .header__burger-container {
    width: 30px;
    padding: 0; }
  .header {
    height: 50px; }
  .slider__flex-container {
    padding: 80px 0; }
  .slider__button-container {
    padding: 0 0 30px; }
  .slider__title {
    margin: 0 0 15px; }
  .about__caption {
    margin: 0 0 25px; }
  .about__photo-container {
    margin: auto 0; }
  .about__description-block {
    padding: 50px 50px 50px 0;
    margin: 0; }
  .projects {
    display: none; }
  .offer__text {
    padding: 20px 0; }
  .service__list {
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    padding: 0; }
  .progress__item {
    margin: 0; }
  .service__progress {
    margin: 10px auto 0; }
  .portfolio__list {
    padding: 0 0 19px; }
  .team__slides-container {
    width: 930px; }
  .team__slide {
    max-width: 310px;
    min-width: 310px;
    flex-direction: column; }
  .team__circle-list {
    right: 40%; }
  .team__person-image {
    margin: 10px auto 20px; }
  .team__info-block {
    flex: 0 1 350px; }
  .team-cta__caption {
    margin: 0 0 23px; }
  .portfolio__default-button {
    padding: 0; }
  .team-quotes__title {
    margin: 40px 0 30px; }
  .team-cta__default-button {
    margin: 0 0 23px; }
  .testimonials__circle-list {
    right: 40%; }
  .testimonials__slide-container {
    width: 930px; }
  .testimonials__description {
    width: 95%; }
  .testimonials__slide {
    max-width: 310px;
    flex-direction: column;
    justify-content: center;
    max-width: 310px;
    width: 310px;
    min-width: 310px;
    padding: 10px 10px 20px; }
  .testimonials__image {
    max-width: 100px !important;
    align-self: center;
    margin: 0 0 10px; }
  .blog__slide-subtitle {
    width: 100%; }
  .blog__circle-list {
    right: 0; }
  .blog__video {
    width: 90%; }
  .price__item:nth-child(2) {
    margin: 20px 0; }
  .blog__item {
    padding: 0 0 0 20px;
    width: 80%; }
  .blog__slider {
    width: 310px; }
  .blog__items-container {
    width: 930px; }
  .blog__slide {
    width: 310px; }
  .subscribe__form {
    width: 310px; }
  .subscribe__email {
    min-width: 310px;
    box-sizing: border-box;
    min-height: 34px;
    margin: 0 0 10px; }
  .subscribe__section-title, .contacts__section-title {
    padding: 40px 0; }
  .contact-section__container {
    width: 310px; }
  .contact-section__name-input, .contact-section__email-input, .contact-section__subject-input {
    min-width: 310px; }
  .contact-section__form {
    width: 310px; }
  .subscribe__form-items-container {
    flex-direction: column; }
  .portfolio__first-col, .portfolio__second-col, .portfolio__third-col {
    margin: 0; }
  .portfolio__third-col {
    margin: 10px 0 0; }
  .portfolio__second-col {
    margin: 10px 0 0; }
  .team__text {
    padding: 0 30px 0 0; }
  .team__bar-block {
    padding: 0 30px 0 0; } }
